    <head>
    <%= stylesheet_link_tag    "style.css" %>
</head>
  <div id="page">

<header id="gtco-header" class="backimage">
      <div class="row">
        <div class="col-md-12 col-md-offset-0 text-left">


          <div class="row row-mt-15em">
            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                      <span class="">Welcome to Otlob</span>
              <h1>Hungry !! Sign in and start Ordring</h1>
            </div>
            <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
              <div >
                <ul>
                  <li class="active">
                  <%= link_to "Sign up", new_user_registration_path,:class => "button",:style => "color:white;" %><br />
                </li>
                <li>
                  <%= link_to 'Login', new_user_session_path ,:class => "button" ,:style => "color:white;" %><br />
                </li>
                </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>

  </header>
