<h1>add friend</h1>

<div>
<span>"enter your friend email" </span>
<input  class="field " type="email" id="addfriend">
<button  type="button" onclick="addFriend()">add</button>
<div>
<div  id="friendList">
</div>
