<h1>Friends</h1>
<div class="row" style="padding-top: 10%;">
    <div class="col-sm-8 col-sm-offset-1 text-center">
<div>
	<span>"Enter your friend email" </span>
	<input  class="field " type="email" id="addfriend">
	<button  class="button" type="button" onclick="addFriend()">Add</button>
<div>
<h3>Friends List</h3>
<div id="friendsList">
	<% @friends.each do |friend|%>
		<div>
			<%= image_tag User.find(friend.friend_id).uimage (:thumb)  %>
	        <p><%= User.find(friend.friend_id).name %></p>
	        <p id="<%=friend.friend_id%>" onclick="unfriend(this)" class="removeLink">unfriend</p>
	    </div>
    <% end %>
</div>
</div>
</div>