.body{
background:linear-gradient(to bottom,rgba(0,0,0,0.6) 0%, rgba(255,255,255,0.2) 100%), url("back.jpg");
background-repeat:no-repeat;
background-size: cover;

color: white;
}

.font{
	color: black !important;
}
.field input{
	color: black;
}
button{
	color: black;
}
input{
	color: black;
}
.actions{
	color: black;
	cursor: pointer
}
.image{
	width: 100px;
	height: 50px;
	padding-left: 20px;
	cursor: pointer
}
 	 	h1{
	color: black;
}

i{
	cursor: pointer
}

.removeLink{
	cursor: pointer;
	text-decoration: underline;
	color: red;
}
