<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:pink;">

<div class="container">


  <button type="button" class="btn btn-primary">Home</button>
  <button type="button" class="btn btn-success">Friends</button>
  <button type="button" class="btn btn-info">Groups</button>
  
  <button type="button" class="btn btn-danger">orders</button>
  
   <ul class="nav navbar-nav navbar-right">
  
  <a href="#">
          <span class="glyphicon glyphicon-bell"></span>
        </a>

  
  <span CLASS  
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        <strong>REEM</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                        
                   </a>
               </li>
 </span>
                        
        <a href="#">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
                    </a>
                    <!--<a href="#" class="btn btn-info btn-lg">-->
          <!--<span class="glyphicon glyphicon-log-out">Log out</span> -->
        </a>
             </ul>   
             <ul></ul>
             <ul></ul>
             <ul>.</ul>
             <div></div>
             
   <div class="row main col-lg-9 myHalfCol ">
   		<div class="col-lg-6">
			<h2>latest orders</h2>
            <div class "align:center" ="list-group">
    			<a href="#" class="list-group-item list-group-item-success">lunch</a>
    			<a href="#" class="list-group-item list-group-item-info">Second item</a>
    			<a href="#" class="list-group-item list-group-item-warning">Third item</a>
    			<a href="#" class="list-group-item list-group-item-danger">Fourth item</a>
  			</div> 
        </div>
  
   		<div class="col-lg-6">
   			<h2>Friends list</h2>
              	<div class="row list-group">
    				<a href="#" class="list-group-item list-group-item-success">REEM</a>
                    <a href="#" class="list-group-item list-group-item-info">Mary</a>
                    <a href="#" class="list-group-item list-group-item-warning">Mahmoud</a>
                    <a href="#" class="list-group-item list-group-item-danger">Eslam</a>
  				</div> 
   		</div>
   </div>

</body>
</html>